@import "../../../styles/globalStyle";
.sectionProjets {
    position: relative;
    &__backgroundSection-rotate {
        @include backgroundSection();
        transform: rotate(180deg);
    }

    &__container {
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 128px;
        @media screen and (max-width: 768px) {
         @include globalMarginBottom();
        }

        &-imageContainer {
            @include globalMarginBottom();
            margin-top: 128px;
            @media screen and (max-width: 768px) {
                margin-top: 64px;
            }
        }
        &-title {
            max-width: 440px;
            margin-bottom: 32px;
            @include specifiqueTitileSection(
                $main-secondary-color,
                $tertiary-color
            );
        }
        &-para {
            text-align: center;
            width: 100%;
        }
        &-carousel {
            margin-top: 64px;
            .carouselBootstrap {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
