@import "./globalStyle";
body {
    box-sizing: border-box;
    margin: 0;
    font-family: "IBM Plex Mono", monospace;
    color: $tertiary-color;
    background-color: $primary-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    min-width: 300px;
    max-width: 1920px;
    margin: auto;
    height: 100vh;
}

p {
    margin: 0;
}
a {
    text-decoration: none;
    color: $main-secondary-color;
    &:hover {
        opacity: 0.5;
        text-decoration: underline;
    }
}
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

strong,
em {
    font-weight: normal;
    font-style: normal;
    color: $main-secondary-color;
}

img {
    object-fit: cover;
}

.specifiqueTitleSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__title {
        text-align: center;
        width: 100%;
        color: $main-secondary-color;
        font-size: 64px;
        @media screen and (max-width: 390px) {
            font-size: 32px;
        }
    }
}
