@import "./globalStyle";
body {
    box-sizing: border-box;
    margin: 0;
    font-family: "IBM Plex Mono", monospace;
    color: $tertiary-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

strong {
    font-weight: normal;
    color: $main-secondary-color;
}
