@import "../../styles/globalStyle";

.main__conatainer {
    @include globalPaddingLeftRight;
    @include globalPaddingTopBottom;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    gap: 128px;
    @media screen and (max-width: 768px) {
        gap: 64px;
    }
}
