@import "../../styles/globalStyle";

.main__container {
    .custom-toast {
        border: 3px solid $tertiary-color;
        background-color: $primary-color;
        color: $main-secondary-color;
        text-align: center;
        font-size: 18px;
        font-family: "IBM Plex Mono", monospace;
    }
    .custom-progress {
        background: $main-secondary-color;
    }
}
