@import "../../../styles/globalStyle";
.sectionSkills {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &-title {
            text-align: center;
            @media screen and (max-width: 677px) {
                max-width: 490px;
            }
            @media screen and (max-width: 406px) {
                max-width: 290px;
            }

            @include specifiqueTitileSection(
                $tertiary-color,
                $main-secondary-color
            );
        }
    }
}
