@import "../../../styles/globalStyle";

@mixin marginBottom {
    margin-bottom: 128px;
    @media screen and (max-width: 768px) {
        margin-bottom: 64px;
    }
}

@mixin marginTop {
    margin-top: 128px;
    @media screen and (max-width: 768px) {
        margin-top: 64px;
    }
}

.sectionAbout {
    position: relative;
    &__backgroundSection {
        @include backgroundSection();
    }
    &__container {
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-scrollSvg {
            @include marginTop();
            @include marginBottom();
        }
        .sectionAbout__mainContainer {
            display: flex;
            flex-direction: column;
            align-items: center;

            @media screen and (min-width: 1440px) {
                flex-direction: row;
                gap: 128px;
                align-items: flex-end;
            }
            @media screen and (min-width: 768px) {
                margin-bottom: 64px;
            }
            .sectionAbout__subContainer {
                @media screen and (max-width: 768px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                &-title {
                    max-width: 357px;
                    margin-bottom: 64px;
                    @include specifiqueTitileSection(
                        $main-secondary-color,
                        $tertiary-color
                    );
                }
                &-para {
                    max-width: 850px;
                    background-color: $primary-color;
                    border-radius: 40px;
                    padding: 24px 40px;
                    font-size: 16px;
                    @include marginBottom();
                    p {
                        @include paraPaddingLeft();
                    }
                    .modificationOrange {
                        font-size: 32px;
                        color: $main-secondary-color;
                    }
                }
            }
            &-image {
                margin-bottom: 64px;
                @media screen and (min-width: 1440px) {
                    margin-bottom: 128px;
                }
                img {
                    width: 100%;
                    @media screen and (max-width: 390px) {
                        max-width: 272px;
                    }
                }
            }
        }
    }
}
