@import "../../../styles/globalStyle";

@mixin marginBottom {
    margin-bottom: 128px;
    @media screen and (max-width: 768px) {
        margin-bottom: 64px;
    }
}

@mixin marginTop {
    margin-top: 128px;
    @media screen and (max-width: 768px) {
        margin-top: 64px;
    }
}

.sectionAbout {
    position: relative;
    &__backgroundSection {
        @include backgroundSection();
    }
    &__container {
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-scrollSvg {
            @include marginTop();
            @include marginBottom();
        }
        &-title {
            max-width: 357px;
            margin-bottom: 64px;
            @include specifiqueTitileSection(
                $main-secondary-color,
                $tertiary-color
            );
        }
        .sectionAbout__mainContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 128px;
            gap: 64px;
            @media screen and (min-width: 1440px) {
                flex-direction: row;
                gap: 128px;
            }
            @media screen and (max-width: 768px) {
                margin-bottom: 64px;
            }
            &-para {
                width: 50%;
                max-width: 850px;
                background-color: $primary-color;
                border-radius: 40px;
                padding: 24px 40px;
                font-size: 16px;

                @media screen and (max-width: 1439px) {
                    width: 100%;
                }

                p {
                    @include paraPaddingLeft();
                }
                .modificationOrange {
                    font-size: 32px;
                    color: $main-secondary-color;
                }
            }
            &-video {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
                height: 100%;
                padding: 0px 24px;
                @media screen and (max-width: 1439px) {
                    width: 100%;
                    padding: 0;
                }
                video {
                    width: 100%;
                    max-width: 850px;
                    max-height: 479px;
                    border-radius: 35px;
                    @media screen and (max-width: 390px) {
                        max-width: 272px;
                    }
                }
            }
        }
    }
}
